spring:
  datasource:
    url: jdbc:mysql://dev-db-1.cfg22ucyuuz4.ap-northeast-2.rds.amazonaws.com:3306/mobaewooji
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
  security:
    oauth2:
      client:
        registration:
          google:
            scope: profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            authorization-grant-type: authorization_code

logging:
  level:
    root: info
    com.ll.hackathon1team: warn
