spring:
  profiles:
    include: secret
  datasource:
    url: jdbc:mysql://3.38.107.186:3306/mobaewooji
    username: root
    password: ch5319!
    driver-class-name: com.mysql.cj.jdbc.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8080

logging:
  level:
    root: info
    com.ll.hackathon1team: debug
